<!--  BobEngine      An open-source 2D game engine for Android      by Benjamin Blaszczak a.k.a. Bobby Lou Jo --><manifest xmlns:android="http://schemas.android.com/apk/res/android"    package="bobby.engine.bobengine"    android:versionCode="1"    android:versionName="beta 0.1" >    <uses-sdk        android:minSdkVersion="8"        android:targetSdkVersion="19" />    <application        android:allowBackup="true"        android:icon="@drawable/ic_launcher"        android:label="@string/app_name"        android:theme="@style/AppTheme" >        <activity            android:name=".SplashActivity"            android:theme="@android:style/Theme.Translucent.NoTitleBar" />    </application></manifest>